
*{
    margin: 0;
    padding: 0;
}
:root {
    --red: #d01c28;
    --gray: #2e2e2e;
}


*::selection {
    color: white;
    background: var(--red);
  }
::-webkit-scrollbar {
    width: 8px; 
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 5px; 
    border: 1px solid #d01c28;
}


body{
    font-family: "Poppins",sans-serif;
}
html {
    scroll-behavior: smooth;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    /* border: 1px solid red; */
    height: calc(100vh - 72px);
    /* height: auto; */
    overflow: hidden;
    /* justify-content: center; */
    align-items: center;
    padding-top:50px ;
}
.loginBox{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}